
[DeptOfTheTreasury]

getDailyTreasuryBillRates = https://home.treasury.gov/resource-center/data-chart-center/interest-rates/pages/xml
getDailyTreasuryYieldCurveRates = https://home.treasury.gov/resource-center/data-chart-center/interest-rates/pages/xml

[TDAmeritrade]

getAccount = https://api.tdameritrade.com/v1/accounts/{accountId}
getAccounts = https://api.tdameritrade.com/v1/accounts

getInstrument = https://api.tdameritrade.com/v1/instruments/{cusip}
getInstruments = https://api.tdameritrade.com/v1/instruments

getMarketHours = https://api.tdameritrade.com/v1/marketdata/hours
getMarketHoursSingle = https://api.tdameritrade.com/v1/marketdata/{market}/hours

getPriceHistory = https://api.tdameritrade.com/v1/marketdata/{symbol}/pricehistory

getQuote = https://api.tdameritrade.com/v1/marketdata/{symbol}/quotes
getQuotes = https://api.tdameritrade.com/v1/marketdata/quotes

getOptionChain = https://api.tdameritrade.com/v1/marketdata/chains
