<logging>
	<appender name="file" type="rollingFileAppender">
		<file>mofo.log</file>
		<appendToFile>true</appendToFile>
		<maxSizeRollBackups>5</maxSizeRollBackups>
		<maximumFileSize>1</maximumFileSize>
		<layout type="patternLayout">
			<conversionPattern>%date{%m/%d/%Y %H:%M:%S.%L} [%thread{%08x},%levelnum] %class{%-15.15s} %method{%-15.15s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<appender name="console" type="consoleAppender">
		<layout type="patternLayout">
			<conversionPattern>%date{%H:%M:%S.%L} %level %class{%-15.15s} %method{%-15.15s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<root>
		<level>WARN</level>
		<appender-ref>file</appender-ref>
		<appender-ref>console</appender-ref>
	</root>
</logging>
